<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Order</h1>
        <p>Sử dụng Bootstrap</p>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <h2 class="product-header">Customer information</h2>
            <!-- Form -->
            <!-- <form> -->
                <div class="mb-3">
                    <label for="fullname" class="form-label">Full Name</label>
                    <input type="text" 
                        [(ngModel)]="orderData.fullname"
                        class="form-control" id="fullname">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" 
                        [(ngModel)]="orderData.email"
                        class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" 
                        [(ngModel)]="orderData.phone_number"
                        placeholder="Phone Number" required
                        class="form-control" id="phone">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" 
                        [(ngModel)]="orderData.address"
                        placeholder="Address" required
                        class="form-control" id="address">
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Note</label>
                    <input type="text" 
                        [(ngModel)]="orderData.note"
                        class="form-control" id="note">
                </div>
                <div class="form-group">
                    <label for="shippingMethod">Shipping Method</label>
                    <select class="form-control" id="shippingMethod" [(ngModel)]="orderData.shipping_method">
                        <option value="express">Express</option>
                        <option value="normal">Normal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="paymentMethod">Payment Method</label>
                    <select class="form-control" id="paymentMethod" [(ngModel)]="orderData.payment_method">
                        <option value="cod">Pay after receive (COD)</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            <!-- </form> -->
        </div>
        <div class="col-md-6">
            <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Tổng giá</th>
                      </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of cartItems">
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                                    <span class="product-name">{{ item.product.name }}</span>
                                </div>
                            </td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price | number:'1.2-2' }}</td>
                            <td>{{ (item.product.price * item.quantity) | number:'1.2-2' }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="text-start mt-3">
                <h4 class="header-text text-end ">Total price: {{ totalAmount | number:'1.2-2' }}</h4>
            </div>
            <div class="mt-3">
                <h4 class="product-header">Apply coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Apply coupon">
                    <button class="btn btn-gradient" type="button" (click)="applyCoupon()">Apply coupon</button>
                </div>
            </div>
            <div class="text-start mt-3">
                <button 
                    (click)="placeOrder()"
                    class="btn btn-gradient" type="button">Order now</button>
            </div>
        </div>
    </div>    
</div>
<app-footer></app-footer>
